In [63]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import matplotlib.image as img
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [64]:
df=pd.read_csv('train2016.csv')
df.head()
df.columns
income_map={'under $25,000':0,'$25,001 - $50,000':1,'$50,000 - $74,999':2,'$75,000 - $100,000':3,'$100,001 - $150,000':4,'over $150,000':5}
gender_map={'Male':0,'Female':1}
vote_map={'Democrat':0,'Republican':1}
df['Gender']=df['Gender'].map(gender_map)
df['Income']=df['Income'].map(income_map)
df['Income'].unique()
df['Party']=df['Party'].map(vote_map)
qmaps={}
affirmatives="""Yes,Check!,Optimist,Mom,Rent,Yay people!,Online,Yes!,Socialize,Cautious,Supportive,Tunes,People,TMI,Start,Circumstances,A.M,Happy,Hot headed,Standard hours,Idealist,Giving,Study first,Science,Public""".split(',')
for y in df.columns[list(df.columns).index('Q124742'):]:
    qmaps[y]={}
    for k in df[y].unique():
        if(type(k)==str):
            if(k in affirmatives):
                qmaps[y][k]=0
            else:
                qmaps[y][k]=1

for y in df.columns[list(df.columns).index('Q124742'):]:
    #print(qmaps[y])
    df[y]=df[y].map(qmaps[y])
#print(df.head)
#I've left year as quant variable for now. I think I will change it soon
#for x in df.columns:
 #   print(x)
print()
#try:

#except Exception as e:
 #   print(traceback.print_exception)
    #print(df)
#df['YOB'].unique()

In [65]:
df=pd.concat([df,(pd.get_dummies(df[df.columns[4]],drop_first=True))],axis=1)
df=pd.concat([df,(pd.get_dummies(df[df.columns[5]],drop_first=True))],axis=1)
df.head()
df=df.drop('HouseholdStatus',axis=1)
df=df.drop("EducationLevel",axis=1)

df.head()
#df['Single (w/kids)']==0

,USER_ID,YOB,Gender,Income,Party,Q124742,Q124122,Q123464,Q123621,Q122769,...,Married (no kids),Married (w/kids),Single (no kids),Single (w/kids),Bachelor's Degree,Current K-12,Current Undergraduate,Doctoral Degree,High School Diploma,Master's Degree
0,1,1938.0,0.0,NaN,0,1.0,NaN,1.0,1.0,1.0,...,0,1,0,0,0,0,0,0,0,0
1,4,1970.0,1.0,5.0,0,NaN,0.0,1.0,1.0,1.0,...,0,0,0,0,1,0,0,0,0,0
2,5,1997.0,0.0,3.0,1,NaN,0.0,0.0,1.0,NaN,...,0,0,1,0,0,0,0,0,1,0
3,8,1983.0,0.0,4.0,0,1.0,0.0,1.0,0.0,1.0,...,0,1,0,0,1,0,0,0,0,0
4,9,1984.0,1.0,2.0,1,1.0,0.0,1.0,1.0,1.0,...,0,1,0,0,0,0,0,0,1,0

In [66]:
df=df.fillna(df.mean(),inplace=True)
y=df['Party']
x=df.drop(['Party','USER_ID'],axis=1)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33)

In [67]:
#mms=MinMaxScaler()
#x=mms.fit_transform(x)
#ignoring mms for now since I dont really feel it is needed. Year of Birth is the only thing that is ridiculously high

In [68]:
lr=LogisticRegression(penalty='l1',C=1.0)
lr.fit(x_train,y_train)
print(lr.score(x_train,y_train))
print(lr.score(x_test,y_test))
print(lr.coef_)

0.65308310992
0.611534276387
[[ -7.53441414e-04  -8.55840150e-02  -1.17015921e-02  -1.56983344e-01
    4.13397152e-02  -1.50727260e-02   0.00000000e+00  -8.53187176e-05
   -2.72416689e-02   3.63760469e-01  -1.63597398e-01   1.15952182e-02
    7.80386115e-02   0.00000000e+00  -3.03838638e-02   2.04640862e-01
   -2.90112977e-01  -3.14154851e-02   1.26004698e-01   1.64102564e-01
   -1.68767330e-01  -1.13189223e-01   2.38907180e-01  -1.01059559e-01
    1.48280627e-01   0.00000000e+00   2.77946402e-01   1.04552450e-01
   -9.14681603e-02  -3.03329589e-02  -1.64720805e-02   7.85369173e-02
    2.12009434e-01   7.42093455e-02   1.26362780e-01  -3.71494516e-02
    3.37651619e-02   0.00000000e+00   2.20082732e-02   0.00000000e+00
    4.81438159e-02  -5.69343765e-01   1.86416592e-01   1.84190160e-01
   -2.57626092e-03   1.11503037e-01   1.15905637e-01  -5.20160523e-02
   -3.95474005e-02   7.42620826e-03   1.07893487e-01   1.14654925e-01
    5.64671931e-02  -2.83875264e-01   1.60345848e-01  -2.31214891e-02
   -7.20220044e-02  -1.01966463e-01   7.25510907e-02   9.16588179e-02
    0.00000000e+00   0.00000000e+00  -6.85715179e-02   1.43907985e+00
   -8.85086826e-02  -2.23561652e-01  -3.31594043e-02  -1.72802762e-02
    5.18531398e-02   7.41933677e-03  -5.73956815e-02   1.94134034e-02
    1.74244993e-01   2.10104197e-01  -2.32540284e-02   4.50714452e-02
    8.81936785e-02   1.68488523e-01   1.07065029e-01  -8.81412479e-02
    2.91180359e-02   1.18784213e-01  -7.86084677e-02   0.00000000e+00
    2.37289513e-02  -1.79375224e-02   9.86195805e-02   1.70189009e-02
    1.92011169e-01   0.00000000e+00   8.03124471e-02  -1.43445164e-01
   -1.04058607e-01  -2.58847954e-02  -1.40152864e-01   1.28107123e-02
    7.15597870e-02  -2.31248432e-01  -2.77155600e-01   1.14408414e-01
    2.05313431e-01  -3.73015429e-02  -3.23445114e-01  -8.71941472e-02
   -5.62214192e-02   6.34103065e-02   2.58738443e-01   6.59021547e-02
    0.00000000e+00  -2.69113168e-01   5.84842608e-02   0.00000000e+00
   -2.07989033e-02   3.59830410e-03  -1.81304992e-01]]

In [69]:
knn=KNeighborsClassifier(n_neighbors=5,p=2,metric='minkowski')
knn.fit(x_train,y_train)
print(knn.score(x_train,y_train))
print(knn.score(x_test,y_test))
#It performed slightly better. by 0.01

0.721715817694
0.519586507073

In [70]:
svm=SVC(kernel='linear',random_state=1,C=1.0)
svm.fit(x_train,y_train)
print(svm.score(x_train,y_train))
print(svm.score(x_test,y_test))
#For some reason it workeed worse here

0.63672922252
0.615342763874

In [71]:
tree=DecisionTreeClassifier(criterion='gini',max_depth=10,random_state=1)
tree.fit(x_train,y_train)
print(tree.score(x_train,y_train))
print(tree.score(x_test,y_test))
#so decision trees dont generalize that well it seems

0.802949061662
0.550054406964

In [72]:
forest=RandomForestClassifier(criterion='gini',n_estimators=40,random_state=1,n_jobs=4)
forest.fit(x_train,y_train)
print(forest.score(x_train,y_train))
print(forest.score(x_test,y_test))
#This generalized slightly better. Also the training data now has a perfect fit

1.0
0.610990206746